.pagination-custom .page-link {
  font-size: 14px;
  padding: 0.5rem 1rem;
  user-select: none;
}

.pagination-custom .page-item.active .page-link {
  background-color: $primary-color;
  border-color: $primary-color;
  z-index: 0;
}