.work-experience-modal .modal-content {
  height: 100%;
  border: 0 !important;
  /* border-radius: 0 !important; */
  max-width: 745px !important;
  margin: 0 auto;
  min-width: 555px;
}

.work-experience-modal .modal-dialog {
  margin-left: 25px;
  margin-right: 25px;
}

.publication-date .react-datepicker__header__dropdown--select {
  padding-top: 1rem !important;
}

.publication-date .react-datepicker__month-select, .publication-date .react-datepicker__year-select {
  display: block;
  width: 100%;
  height: calc(1.42857em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-checkbox {
  margin-top: 2px !important;
}