.chip {
  color: rgba(0, 0, 0, 0.87);
  border: none;
  cursor: default;
  display: inline-flex;
  outline: 0;
  font-size: 0.8125rem;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: #e0e0e0;
  padding: 0 5px !important;
  height: unset !important;
  margin: 5px 5px 0 0;
  border-radius: 5px !important;

  & .chip-label {
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    text-overflow: ellipsis;
  }
}

.card__box--post {
  &-media {
    max-height: 256px;
    flex: 0 0 50%;
    width: 50%;
  }

  &-media-more-posts {
    flex: 0 0 50%;
    cursor: pointer;
    border: 2px dashed #dddfe2;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #dddfe2;
  }

  &-custom-media {
    height: 500px;
    width: auto;
  }

  &-comment-button {
    transition: all 0.2s;
    font-size: 14px !important;

    &:focus {
      transition: all 0.1s;
      transform: scale(0.95);
      & svg path {
        fill: #000;
      }
    }
  }

  &-column {
    height: calc(100% - 3.5rem);
    min-height: 0;
    flex: 1 1;
    margin-top: 8px;
    text-align: center;

    &::before {
      content: "";
      display: inline-block;
      width: 1px;
      height: calc(100% - .8rem);
      background-color: #e5e5e5;
      left: 50%;
      top: 4px;
      transform: translateX(-50%);
    }
  }
}