.remove-link-style {
  color: inherit;
  text-decoration: none;
  box-shadow: none;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
}

.remove-link-style .card {
  border: 2px solid #e5e5e5;
}

.remove-link-style:hover .card {
  text-decoration: none;
  border: 2px solid #0256b3;
  box-sizing: border-box;
  padding: 0;
  color: #0256b3;
}

.agree-new-company {
  & input {
    width: 20px;
    height: 20px;
    margin-top: 0.1rem;
  }

  & label {
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.42857;
  }
}

.blue-kind-box {
  background-color: #98d8f4;
  border-radius: 2px;
  height: 32px;
  width: 172px;
}

.build-step-description {
  line-height: 1.5;
}

.build-your-page-slider .slick-slide div div {
  outline: none;
}

.build-your-page-slider {
  margin: 0 -8px;
}

.tagline-box {
  border: 1px dashed #b1afaf;
  width: fit-content;
  padding: 8px;
  font-size: 14px;
  user-select: none;
  cursor: pointer;

  &:active,
  &:focus,
  &:focus-within {
    background-color: #e5e5e5;
  }
}

.edit-company-modal {
  .close {
    font-size: 24px;
  }

  .inner-links {
    color: #6c757c;
    cursor: pointer;
    user-select: none;
    padding-left: 35px !important;

    &:hover:not(.active) {
      color: #222;
    }
  }

  .check-switch-component {
    .custom-control-input {
      margin-left: 0;
    }

    .custom-switch {
      padding-left: 3.5rem;
      height: 2rem;
    }

    .custom-control-label {
      &::before {
        top: 0;
        height: 2rem;
        width: 2.8rem;
        left: -3.25rem;
        border-radius: 20px;
      }

      &::after {
        top: 4px;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        left: -3rem;
      }
    }
  }

  .locations-form {
    .form-check-input {
      margin-top: 0;
    }
  }
}

.activity-links {
  color: #6c757c;
  cursor: pointer;
  user-select: none;

  &:hover:not(.active) {
    color: #222;
  }
}

.company-admin-menu {
  .dropdown-menu {
    border-radius: 0;
    padding: 0;

    a {
      padding: 0.5rem 1.5rem;

      // &:not(:last-child) {
      //   border-bottom: 1px solid #e5e5e5;
      // }
    }
  }
}

.lt-line-clamp--multi-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.lt-line-clamp {
  overflow: hidden;
  position: relative;
}

.break-words {
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.company-member-view {
  .post-content-listing {
    .card__box--post {
      max-width: 100%;
    }
  }

  .people-search-box {
    max-width: 350px;
  }

  .people-listing-card {
    .poster-background {
      width: 100%;
      height: 70px;
    }

    .people-card-data {
      margin-top: -40px;

      img {
        border-radius: 50%;
      }

      .people-connections {
        img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
      }
    }
  }
}