.job-detail {

  .card-body {
    padding-top: 0;
  }

  &__company-logo {
    width: 150px;
    margin-top: -90px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px 0px;
    background: #fff;
    z-index: 11;
  }
}

.job-apply-progress {
  box-sizing: border-box;
  height: 20px;
  width: 100%;
  overflow: hidden;
  animation: animate-stripes 5s linear infinite;
}