.event-calendar {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.event-calendar .react-calendar {
  border: 0;
}

.newsfeed-sidebar {
  flex: 0 0 350px;
  margin: 10px 13px;
  position: sticky;
  top: 0 70px 70px;
  height: fit-content;
  // overflow: hidden;
  // height: 100%;
}

.events-date {
  background-color: #929394 !important;
  color: #ffffff !important;
  border-radius: 50%;
  border: none;
}

.events-selected-date {
  background-color: #007bff !important;
  color: #ffffff !important;
  border-radius: 50%;
  border: none;
}

.today-active {
  background-color: #051c2c !important;
  color: #ffffff !important;
  border-radius: 50% !important;
}

.react-calendar__tile {
  height: 50px;
}

.react-calendar__tile--active {
  border-radius: 50% !important;
}

.profile-completed-progress {
  background-color: #4a90e2;
}

.profile-widget {
  &-head {
    background-color: #202020;
  }
  
  &-photo {
    border-radius: 50%;
    font-size: 80px;
    font-weight: 900;
    color: #fff;
    background-color: #439cf0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.profile-stat-cell {
  flex: 0 0 50%;
  padding: 12px;
  
  &:hover {
    background-color: #e5e5e5;
  }
}

@media (max-width: 1100px) {
  .newsfeed-sidebar {
      position: inherit !important;
      margin: 0 auto;
      margin-top: 10px;
  }
}