.single-line-webkit {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.event-icons {
  margin-right: 10px;
  color: #029EFD;
  height: 20px;
  width: 20px !important;
}

.event-user-icons {
  margin-right: 10px;
  color: #e58124;
  height: 20px;
  width: 20px !important;
}

.event-last-image {
  top: 0px;
  left: 5px;
  color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(30, 104, 182, 0.6);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.event-detail {
  &__image {
    border-radius: 0 !important;
  }

  &__header {
    background-color: #ffffff !important;
  }

  &__join-pod {
    &-link {
      font-size: 14px !important;
      justify-content: center;
      border-radius: 16px !important;
    }

    &-link:hover {
      background-color: rgba(2, 158, 253, 0.08);
      border-radius: 16px !important;
    }
  }

  &__attending {
    &-details {
      display: flex;

      &:last-child {
        position: relative;
      }
    }

    &-profile {
      height: 30px;
      width: 30px;
      margin-left: 5px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  &__attendees {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
}