@import './variables.scss';

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

//React Big Calendar
@import 'node_modules/react-big-calendar/lib/sass/styles';

.mx-1200 {
  max-width: 1200px;
}

body {
  margin: 0;
  /* font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif !important; */
  font-family: 'IBM Plex Sans', sans-serif !important;
  /* font-family: 'Noto Sans', sans-serif !important; */
  /* font-family: 'Montserrat', sans-serif !important;*/
  /* font-family: 'Work Sans', sans-serif !important; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

.App {
  background-color: #fff !important;
  min-height: 100vh;
}

.height-unset {
  height: unset !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: $primary-color !important;
}

.flex-1 {
  flex: 1 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}


.font-size-12 {
  font-size: 12px !important;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-24 {
  font-size: 24px !important;
}

.font-size-25 {
  font-size: 25px !important;
}

.font-size-32 {
  font-size: 32px !important;
}

.max-height-500 {
  max-height: 500px;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-none {
  overflow-x: hidden;
}

.remove-number-arrows::-webkit-outer-spin-button,
.remove-number-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-check {
  margin: 10px 0;
}

.form-check-input {
  margin-top: 0;
}