$bootstrap-sass-asset-helper: false !default;
// Override default variables before the import
$body-bg: #f7f6f5;

//== Colors
//
$brand-primary:         darken(#1479fb, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger: #d9534f !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  Helvetica, Arial, sans-serif !default;

$font-size-base:          12 !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~15px
$font-size-small:         ceil(($font-size-base * .85)) !default; // ~10px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~31px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~26px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~20px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~15px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * .85)) !default; // ~10px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;



//== sidebar variables
//
$sidebar-bg: #fff;
$sidebar-color: #051c2c;

$sub-sidebar-bg: #f7f6f5;
$sub-sidebar-color: #1c1e21;

$primary-color: #051c2c;
$active-font-color: #00B7F4;

$theme-colors: (
  "primary": #051c2c,
);

// $blue: #051c2c !default;