.sidebar-icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8125rem;
  line-height: 1.2308;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.sidebar-icon-padding {
  padding: 8px !important;
}

.sidebar-icon-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.sidebar-icon-item-selected {
  background-color: rgba(0, 0, 0, 0.5);
}

.sidenav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  z-index: 11 !important;
  background-color: $sidebar-bg;
  color: $sidebar-color;
  height: 60px !important;
}

.sidenav-wrapper h1 {
  color: $sidebar-color;
  font-size: 20px !important;
  font-weight: 600;
}

.sidenav-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidenav-wrapper ul.bottomMenu {
  justify-content: flex-end;
  flex: 1 1 50%;
}

.sidenav-wrapper ul li {
  min-width: 90px;
  height: 100%;
}

.menuToggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: relative;
  min-height: auto;
  flex: 1 1 50%;
}

.header-main-title {
  max-width: 155px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.header-search-bar {
  width: 300px;

  .form-control {
    border: 1px solid #000;
    border-left: 0;
    background: #e1e9ee;
  }

  .input-group-text {
    border: 1px solid #000;
    border-right: 0;
    background: #e1e9ee;
    border-radius: 0;
  }

  input::placeholder, input {
    font-size: 14px;
  }
}

.sidenav---sidenav-toggle---1KRjR {
  height: 60px;
  flex: 0 0 63px;

  &[aria-expanded="true"] {
    & span {
      width: 25px;
    }

    & span:nth-child(1) {
      transform: rotate(45deg);
    }

    & span:nth-child(2) {
      opacity: 0;
    }

    & span:nth-child(3) {
      transform: rotate(-45deg);
      margin-top: -9px;
    }
  }

  & span {
    background-color: #051c2c !important;
    height: 3px !important;
    transition: all 0.15s;
  }
}

.sidebar-icon-collpase .sidenav---selected---1EK3y {

}

.menuIcons {
  background-image: url(/assets/imgs/menu.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
}

.helperIconsCommon {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  font-size: 0.8125rem;
  line-height: 1.2308;
  position: relative;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
  padding: 10px 5px 10px 5px;
  cursor: pointer;
}

.helperIcons {
  background-image: url(/assets/imgs/helperIcons.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.helperIconsBar {
  font-size: 25px;
}

// subside bar
.sub-sidebar {
  background-color: $sub-sidebar-bg;
  color: $sub-sidebar-color;
  box-sizing: border-box;
  flex: 1 1 auto;
  max-width: 420px;
  min-width: 300px;
  overflow: hidden;
  z-index: 5 !important;
  overflow-y: hidden !important;
}

.sub-sidebar-overlay {
  background-color: transparent !important;
  top: 60px !important;
  max-width: 300px;
}

.sidebar-icon-collpase {
  background-color: $sidebar-color;
  overflow-y: auto;
  overflow-x: hidden;
  top: 60px;
}

.sidebar-icon-collpase::-webkit-scrollbar {
  width: 5px;
}
 
.sidebar-icon-collpase::-webkit-scrollbar-track {
  background: #ddd;
}
 
.sidebar-icon-collpase::-webkit-scrollbar-thumb {
  background: #666; 
}

.sidebar-icon-collpase .sidenav---icon-bar---u1f02 {
  width: 25px;
  height: 3px;
  background-color: #000;
}

.sidebar-icon-collpase.sidenav---sidenav---_2tBP {
  position: fixed !important;
}

.sidebar-icon-collpase.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02:nth-child(3) {
  margin-top: -10px;
}

.sidebar-icon-collpase .sidenav---sidenav-nav---3tvij {
  margin-top: 25px;
}

.sidebar-icon-collpase .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f span,
.sidebar-icon-collpase .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > * {
  color: #fff;
  line-height: 65px;
}

.sidebar-icon-collpase .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo {
  margin-right: 0;
  opacity: 1;
  height: 65px;
}

.sidebar-icon-collpase .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T {
  line-height: 65px;
  height: 65px;
}

.sidebar-icon-collpase .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- {
  // margin-top: 10px;
}

.sidebar-icon-collpase .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u {
  & .sidenav---navtext---1AE_f {
    color: #00B7F4;
    font-weight: 900;
  }

  & svg {
    fill: #00B7F4;
  }
}

.notification-badge:after{
  content: attr(data-notification-count);
  position: absolute;
  background: #dc3545;
  height: 15px;
  top: 10px;
  right: 5px;
  width: 15px;
  text-align: center;
  line-height: 13px;
  font-size: 10px;
  border-radius: 50%;
  color: white;
  border: 1px solid #dc3545;
}

.chip {
  border-radius: 16px;
  background-color: #e0e0e0;
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  height: 32px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px;
  border-width: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  overflow: hidden;
}

.notification-dropdown {
  transform: translate3d(-130px, 60px, 0px) !important;
  width: 350px;
  z-index: 1111;
}

.language-dropdown {
  transform: translate3d(0px, 60px, 0px) !important;
  // border: 1px solid $sidebar-color !important;
  border-radius: 0;

  & .dropdown-item {
    padding: 10px 16px;
    font-size: 14px;
  }

  & .dropdown-item.active, .dropdown-item:active {
    background-color: #fff !important;
    color: $primary-color !important;
  }
}

.link-topbar {
  color: #bec3c9 !important;
}

.link-topbar:hover {
  color: #bec3c9 !important;
  text-decoration: none;
}

.invite-colleague-menu {
  & .sidenav---navicon---3gCRo {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}


.invite-colleague-menu-text {
  & .sidenav---navtext---1AE_f {
    // width: 100% !important;
    margin-right: 8px;
  }
}