.group-sort-by-dropdown {
  border-radius: 0;

  & .dropdown-item {
    padding: 10px 16px;
    font-size: 14px;
  }

  & .dropdown-item.active, .dropdown-item:active {
    background-color: #fff !important;
    color: $primary-color !important;
  }

  & .dropdown-toggle::before {
    font-size: 15px;
  }

  .dropdown-toggle::after {
    font-size: 15px;
    vertical-align: 0.155em;
  }
}
