.my-card {
  position: absolute !important;
  top: -20px;
  border-radius: 50% !important;
}

.card-height {
  height: 150px;
  max-height: 150px;
}

.tile {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  margin: 10px 5px;
  transition: transform 0.2s;
}

.tile.available {
  cursor: pointer;
}

.tile.myCards .wrapper-header-content {
  cursor: pointer;
}

.add-scale-effect {
  transition: transform 0.2s;
  user-select: none;
}

.add-transform-effect {
  /* transform: scale(1.05); */
}

.tile:hover, .add-scale-effect:hover {
  /* transform: scale(1.05); */
}

.header {
  border-bottom: 1px solid #ebeff2;
  padding: 10px;
  color: #59687f;
  font-weight: 600;
  font-size: 14px;
  position: relative;
}

.banner-que h2 {
  font-weight: 700;
}

.dates {
  color: #5aadef;
}

.dates strong {
  display: block;
  color: #adb8c2;
  font-size: 11px;
  font-weight: 700;
}

div.take-part-footer {
  padding: 10px;
  border-top: 1px solid #f2f2f2;
}

div.take-part-footer > .card {
  width: 100%;
}

div.take-part-footer > .card:not(:first-child) {
  margin-left: 10px;
}

div.take-part-footer > .card:not(:first-child) {
  margin-left: 10px;
}

div.take-part-footer > .card .card-body {
  height: 33px;
}

div.take-part-footer .votes {
  cursor: pointer;
}

div.take-part-footer img {
  border-radius: 50%;
  height: 35px !important;
  width: 35px !important;
  margin-right: 10px;
  flex: 0 0 35px;
}

div.take-part-footer img.commentIcon {
  border: 1px solid lightgrey;
  object-fit: contain;
  padding: 2px;
}


/* div.take-part-footer img.commentIcon.replyIcon {
  height: 30px !important;
  width: 30px !important;
  flex: 0 0 30px;
} */

.quiz-modal .modal-body {
  max-height: 65vh;
  overflow: auto;
}

.quiz-modal.create-take-part .modal-body {
  height: 65vh;
  /* overflow-y: scroll; */
  transition: all 0.5s ease-in-out;
}

.quiz-modal.create-take-part .modal-body .take-part-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
}

/* .quiz-modal.create-take-part .modal-header.styled-button > button.close {
  position: absolute;
  right: 16px;
  color: white;
} */

.quiz-modal.create-take-part .modal-body .take-part-form .steps {
  flex: 1 1 auto;
}

.quiz-modal.create-take-part .modal-body .take-part-form .footer-row {
  flex: 0 0 30px;
}

.quiz-modal .modal-content {
  border: 0 !important;
  /* border-radius: 0; */
}

.quiz-modal .modal-header {
  /* padding: 0.5rem 1rem; */
  overflow: hidden;
  border-radius: 0;
}

.quiz-modal .modal-footer {
  padding: 0.5rem;
}

.quiz-modal .modal-lg {
  max-width: 500px !important;
}

.quiz-modal.create-take-part .modal-lg {
  max-width: 600px !important;
}

.titleBox {
  background-color: #fdfdfd;
  padding: 10px;
}

.titleBox label {
  color: #444;
  margin: 0;
  display: inline-block;
}

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
  width: 80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
  width: 18%;
}

.actionBox .form-group * {
  width: 100% !important;
}

.taskDescription {
  margin-top: 10px 0;
}

.commentList {
  padding: 0;
  list-style: none;
  /* max-height: 200px; */
  overflow: auto;
}

.commentList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.commentList::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.commentList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.commentList li:first-child {
  margin-top: 10px;
}

.commentList li {
  margin: 0;
  margin-bottom: 15px;
}

.commentList li>div {
  display: table-cell;
}

.commenterImage {
  width: 30px;
  margin-right: 5px;
  height: 100%;
  float: left;
}

.commenterImage img {
  width: 100%;
  border-radius: 50%;
}

.commentText p {
  margin: 0;
  font-size: 12px;
}

.sub-text {
  color: #aaa;
  font-size: 10px;
}

.actionBox {
  border-top: 1px dotted #bbb;
  padding: 10px;
}

.quiz-modal .modal-body::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  border-radius: 4px;
  background: transparent;
  transition: all 0.3s ease;
}

.quiz-modal .modal-body::-webkit-scrollbar:hover {
  background: #c6c7ca;
}

.quiz-modal .modal-body::-webkit-scrollbar-thumb {
  background: #777779;
  border-radius: 4px;
}

.funkyradio {
  width: 100%;
  height: 100%;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty~label, .funkyradio input[type="checkbox"]:empty~label {
  position: relative;
  line-height: 3em;
  text-indent: 4.25em;
  margin-top: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  font-weight: 600;
}

.funkyradio input[type="radio"]:empty~label:before, .funkyradio input[type="checkbox"]:empty~label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 3.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label, .funkyradio input[type="checkbox"]:hover:not(:checked)~label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label:before, .funkyradio input[type="checkbox"]:hover:not(:checked)~label:before {
  content: '\2714';
  text-indent: 1.45em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked~label, .funkyradio input[type="checkbox"]:checked~label {
  color: #777;
}

.funkyradio input[type="radio"]:checked~label:before, .funkyradio input[type="checkbox"]:checked~label:before {
  content: '\2714';
  text-indent: 1.45em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus~label:before, .funkyradio input[type="checkbox"]:focus~label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked~label:before,
.funkyradio-default input[type="checkbox"]:checked~label:before,
.funkyradio-default input[type="radio"]:checked~label,
.funkyradio-default input[type="checkbox"]:checked~label,
.funkyradio-default input[type="radio"]:hover:not(:checked)~label,
.funkyradio-default input[type="checkbox"]:hover:not(:checked)~label,
.funkyradio-default input[type="radio"]:hover:not(:checked)~label:before,
.funkyradio-default input[type="checkbox"]:hover:not(:checked)~label:before {
  color: #333;
  background: linear-gradient(to bottom right, #ccc , #fff);
}

.funkyradio-primary input[type="radio"]:checked~label:before,
.funkyradio-primary input[type="checkbox"]:checked~label:before,
.funkyradio-primary input[type="radio"]:checked~label,
.funkyradio-primary input[type="checkbox"]:checked~label,
.funkyradio-primary input[type="radio"]:hover:not(:checked)~label,
.funkyradio-primary input[type="checkbox"]:hover:not(:checked)~label,
.funkyradio-primary input[type="radio"]:hover:not(:checked)~label:before,
.funkyradio-primary input[type="checkbox"]:hover:not(:checked)~label:before {
  color: #fff;
  background: linear-gradient(to bottom right, #337ab7 , #00bcd4);
}

.funkyradio-success input[type="radio"]:checked~label:before,
.funkyradio-success input[type="checkbox"]:checked~label:before,
.funkyradio-success input[type="radio"]:checked~label,
.funkyradio-success input[type="checkbox"]:checked~label,
.funkyradio-success input[type="radio"]:hover:not(:checked)~label,
.funkyradio-success input[type="checkbox"]:hover:not(:checked)~label,
.funkyradio-success input[type="radio"]:hover:not(:checked)~label:before,
.funkyradio-success input[type="checkbox"]:hover:not(:checked)~label:before {
  color: #fff;
  background: linear-gradient(to bottom right, #5cb85c , #00bcd4);
}

.funkyradio-danger input[type="radio"]:checked~label:before,
.funkyradio-danger input[type="checkbox"]:checked~label:before,
.funkyradio-danger input[type="radio"]:checked~label,
.funkyradio-danger input[type="checkbox"]:checked~label,
.funkyradio-danger input[type="radio"]:hover:not(:checked)~label,
.funkyradio-danger input[type="checkbox"]:hover:not(:checked)~label,
.funkyradio-danger input[type="radio"]:hover:not(:checked)~label:before,
.funkyradio-danger input[type="checkbox"]:hover:not(:checked)~label:before {
  color: #fff;
  background: linear-gradient(to bottom right, #d9534f , #9c27b0);
}

.funkyradio-warning input[type="radio"]:checked~label:before,
.funkyradio-warning input[type="checkbox"]:checked~label:before,
.funkyradio-warning input[type="radio"]:checked~label,
.funkyradio-warning input[type="checkbox"]:checked~label,
.funkyradio-warning input[type="radio"]:hover:not(:checked)~label,
.funkyradio-warning input[type="checkbox"]:hover:not(:checked)~label,
.funkyradio-warning input[type="radio"]:hover:not(:checked)~label:before,
.funkyradio-warning input[type="checkbox"]:hover:not(:checked)~label:before {
  color: #fff;
  background: linear-gradient(to bottom right, #f0ad4e , #f48fb1);
}

.funkyradio-info input[type="radio"]:checked~label:before,
.funkyradio-info input[type="checkbox"]:checked~label:before,
.funkyradio-info input[type="radio"]:checked~label,
.funkyradio-info input[type="checkbox"]:checked~label,
.funkyradio-info input[type="radio"]:hover:not(:checked)~label,
.funkyradio-info input[type="checkbox"]:hover:not(:checked)~label,
.funkyradio-info input[type="radio"]:hover:not(:checked)~label:before,
.funkyradio-info input[type="checkbox"]:hover:not(:checked)~label:before {
  color: #fff;
  background: linear-gradient(to bottom right, #5bc0de , #4caf50);
}

.quiz-modal.create-take-part .modal-body .card {
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  background-color: #fff;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom:1px;
  border:none;
}

.quiz-modal.create-take-part .modal-body .card-header:first-child {
  border-radius: 0;
}

.quiz-modal.create-take-part .modal-body .card-header {
  background-color: #f7f7f9;
  margin-bottom: 0;
  padding: 20px 1.25rem;
  border:none;
  
}

.quiz-modal.create-take-part .modal-body .card-header a i{
  float:left;
  font-size:25px;
  padding:5px 0;
  margin:0 25px 0 0px;
  color:#195C9D;
}

.quiz-modal.create-take-part .modal-body .card-header i{
  float:right;        
  font-size:30px;
  width:1%;
  margin-top:8px;
  margin-right:10px;
}

.quiz-modal.create-take-part .modal-body .card-header a{
  width:97%;
  float:left;
  color:#565656;
}

.quiz-modal.create-take-part .modal-body .card-header p{
  margin:0;
}

.quiz-modal.create-take-part .modal-body .card-header h3{
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: #3fc199;
}

.quiz-modal.create-take-part .modal-body .card-block {
  -moz-box-flex: 1;
  flex: 1 1 auto;
  padding: 20px;
  color:#232323;
  box-shadow:inset 0px 4px 5px rgba(0,0,0,0.1);
  border-top:1px soild #000;
  border-radius:0;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
}

.quiz-modal.quiz-modal.create-take-part .input-field {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0 !important;
}

.input-field:focus {
  border-color: #80bdff !important;
}

.text-lightgray {
  color: #B8B6BC !important;
}