.event-radio .form-check-input {
  margin-top: 0.1rem !important;
}

.ReactModalPortal>div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 0.15s linear;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-open {
  opacity: 1;
}

.vertical-dot {
  align-self: center;
  color: black;
}

.vertical-dot:hover {
  text-decoration: none;
  color: black;
}

.vertical-dot:after {
  content: '\2807';
  font-size: 30px;
}

.padding-top-bottom {
  padding: 5px 0 5px 0;
}

.participate-subdiv {
  display: block;
}

.location-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.date-not-selected {
  color: #000000;
}

.date-selected {
  color: #ffffff;
  background-color: #007bff;
}