.comment-list-box {
  /* max-height: 400px !important; */
  /* overflow-y: auto; */
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */

.comment-list-scrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 16px
}

/* background of the scrollbar except button or resizer */

.comment-list-scrollbar::-webkit-scrollbar-track {
  background-color: #fff
}

.comment-list-scrollbar::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4
}

/* scrollbar itself */

.comment-list-scrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff
}

.comment-list-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */

.comment-list-scrollbar::-webkit-scrollbar-button {
  display: none
}

.comment-list-scrollbar {
  background: #fff;
  overflow-y: auto
}

.comment-content {
  padding: 8px 10px;
  background: #f2f3f5;
  border-radius: 12px;
  color: #1c1e21;
  width: fit-content;
}